.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr ;
    gap: 0px 0px;
    grid-template-areas: 
    "title"
    "header"
    "post1"
    "post2"
    "post3"
    "footer";
    text-align: center;
}

.title {
    grid-area: title;
    margin: 0 auto;
}

#nav {
    display:block;
}
  
  nav a {
    display: block;
    color: black;
    text-decoration: none;
    width: 70%;
    margin: 10px auto;
    font-weight: bolder;
  }

h2 {
    font-weight: bolder;
}

.header {
    grid-area: header;
    background-color: #252525;
    color: white;
    margin: 5%;
}

button {
    margin: 3%;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}
button:hover {
    background-color: black;
}

.post1, .post2, .post3 {
    margin: 5%;
}

.post1 {
    grid-area: post1;
    border: solid;
}

.post1 img {
    width: 100%;
}

.post2 {
    grid-area: post2;
    border: solid;
}

.post2 img {
    width: 100%;
}

.post3 {
    grid-area: post3;
    border: solid
}

.post3 img {
    width: 100%;
}

.footer {
    grid-area: footer;
    background-color: #252525;
    color: white;
}

.footer a {
    font-size: 30px;
    margin: 10px;
    text-decoration: none;
    color: white;
    background-color: gray;
    padding: 8px;
}

/* _________________________________________________________ */

@media(min-width:865px) {
    .container {
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 6fr ;
        gap: 0px 0px;
        grid-template-areas: 
        "title title"
        "header header"
        "post1 post1"
        "post2 post2"
        "post3 post3"
        "footer footer";
        text-align: center;
    }

    nav {
        margin: 0;
        word-spacing: 40pt;
        margin-top: 5%;
    }

    nav a {
        display: inline;
    }

    .post1 {
        display: flex;
    }

    .img1 img {
        width:500px;
        border-right: solid;
        background-color: #F5F5F5;
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .sub-post1 {
        margin-top: 10%;
        margin-left: 30px;
        margin-right: 30px;
    }

    .post2 {
        display: flex;
    }

    .img2 img {
        width:500px;
        min-height: fit-content ;
        margin: 0%;
        border-right: solid;
        background-color: #F5F5F5;
        height: 100%;
    }

    .sub-post2 {
        margin-top: 10%;
        margin-left: 30px;
        margin-right: 30px;
    }

    .post3{
        display: flex;
    }

    .img3 img {
        width:500px;
        min-height: fit-content ;
        margin: 0%;
        border-right: solid;
        background-color: #F5F5F5;
        height: 100%;
    }

    .sub-post3 {
        margin-top: 10%;
        margin-left: 30px;
        margin-right: 30px;
    }

    .socials a {
        display: inline;
        width: fit-content;
    }

    .footer {
        padding-bottom: 5%;
        padding-top: 2%;
    }
}