.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "title"
    "header"
    "form"
    "footer";
}

.title {
    grid-area: title;
    text-align: center;
}

#nav a {
    display: block;
    color: black;
    font-weight: bolder;
    margin: 2%;
    text-decoration: none;
}

.header {
    grid-area: header;
    text-align: center;
}

h1 {
    background-color: #252525;
    color: white;
    padding: 10px;
}

.form {
    grid-area: form;
    text-align: center;
    /* margin: 0 auto; */
}

.form div {
    margin: 8%;
}
.form div input{
    width: 100%;
    padding: 3%;
    border: solid 2px;
    text-align: center;
}

.form div input::placeholder {
    text-align: center;
}

.form div textarea {
    width: 100%;
    padding: 3%;
    border: solid 2px;
    height: 150px;
}

.form div textarea::placeholder {
    text-align: center;
}

button {
    max-width: 100%;
    width: 100%;
    color: white;
    font-weight: bolder;
    background-color: #252525;
    margin-bottom: 8%;
    /* text-align: center; */
    padding: 25px;
    margin: 8% auto;
}

.footer {
    grid-area: footer;
    text-align: center;
    background-color: #252525;
    color: white;
    padding: 5px;
    width: 100%;
}

.footer a {
    font-size: 30px;
    margin: 10px;
    text-decoration: none;
    color: white;
    background-color: gray;
    padding: 8px;
}

@media(min-width:600px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            ". title title ."
            ". header header ."
            ". form form ."
            "footer footer footer footer";
    }

    #nav {
        margin-top: 5%;
        margin-bottom: 3%;
    }

    #nav a {
        display: inline;
    }

    .footer {
        width: 100%;
    }
}