/* Removed because it was not formatting well */

/* .container {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    display: block;
    grid-template-areas:
      "title "
      "attentiongrab "
      "attentiongrab "
      "images images "
      "footer footer ";
  } */

/* ________________________________________________ */


  .container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "title title title"
      "attentiongrab attentiongrab attentiongrab "
      "images images images"
      ". footer .";
  }
  
  .title { 
      grid-area: title; 
      display: block;
      align-items: center;
      margin: 0 auto;
      align-self: center;
      justify-self: center;
      border: 3px solid black;
      padding: 50px;
    }

 
  
  .attentiongrab { 
      grid-area: attentiongrab; 
      background-image: url(./backgroundAttnGrab.jpeg);
      background-size:auto;
      background-repeat: no-repeat;
      min-width: 100%;
      /* width: 100%; */
      /* height: fit-content; */
      /* height: fit-content; */
      display: flex;
      /* background-position: center; */
      overflow: hidden;
    }

  span {
    display: block;
    text-align: center;
    margin: 5px;
    font-weight: bold;
    background-color: black;
    /* padding: 5px; */
    padding-left: 5px;
    color: white;
  }

  .span-attn {
      background-color:  black;
      color: white;
      /* margin-right: 30%; */
      /* margin-bottom: 10px; */
      text-align: left;
    }

  .attn-text {
    margin-right: 30%;    
  }

  .attention {
      background-color: white;
      /* margin-right: 30%; */
      margin-left: 10px;
  }

  button {
    padding: 10px;
    background-color: teal;
    color: white;
    font-weight: bold;
    float: left;
    margin-left: 10px;
  }
  
  button:hover {
        padding: 12px ;
  }

  .images { 
      grid-area: images; 
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  
    img {
      width: 100%;
    }
  
  .footer { 
      grid-area: footer; 
    }

  .foot {
    float: left;
  }
  
  .socials {
    float: right;
    text-align: right;
    }

  a:hover {
    /* box-shadow: 10px 5px 5px red;
    border: 3px red solid; */
    filter:brightness(50%);
    background-color: rgb(10, 10, 10, .2);
  }
  
/* ________________________________________________ */
/* Set the style for tablet screens */

@media(min-width:500px) {
  .container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "title title title"
      "attentiongrab attentiongrab attentiongrab"
      "attentiongrab attentiongrab attentiongrab"
      "images images images"
      "footer footer footer";
  }

  /* .attentiongrab {
    height: auto;
    width: 100%;
    background-size: contain;
  } */

  .image-block {
    display: flex;
  }

  span {}

}



/* ________________________________________________ */
/* Set the style for desktop screens */

/* @media(min-width:769px) {
.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "title title title"
      "attentiongrab attentiongrab attentiongrab"
      "images images images"
      "footer footer footer";
  }
}
  
  .title { grid-area: title; }
  
  .attentiongrab { grid-area: attentiongrab; }
  
  .images { 
    grid-area: images; 
  }
  
  .footer { grid-area: footer; }
   */