/* Removed because it was not formatting well */

.container {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    display: block;
    grid-template-areas:
      "title "
      "attentiongrab "
      "attentiongrab "
      "images  "
      "footer ";
  }

/* ________________________________________________ */


  /* .container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "title title title title"
      "title title title title"
      "attentiongrab attentiongrab attentiongrab attentiongrab"
      "images images images images"
      "footer footer footer footer";
  } */


  /* .logo {
    grid-area: logo;
    border: 3px black solid;
    margin: 0 auto;
    width: 100%;
  }
  .logo img {
    display: block; */
    /* margin: 0 auto; */


  .title { 
      grid-area: title; 
      /* display: block; */
      /* align-items: center; */
      /* margin: 0 auto; */
      /* border: 3px solid black; */
      /* padding: 50px; */
      /* height: fit-content; */
      /* position:relative; */
      /* width: 100%; */
      /* align-self: center; */
     /* justify-self: center; */

    }


  .attentiongrab { 
      grid-area: attentiongrab; 
      background-image: url(./backgroundAttnGrab.jpeg);
      background-size:cover;
      background-repeat: no-repeat;
      min-width: 100%;
      display: flex;
      padding-top: 50px;
      padding-bottom: 50px;
      margin-top: 10px;
      margin-bottom: 10px;
      /* width: 100%; */
      /* height: fit-content; */
      /* height: fit-content; */
      /* background-position: center; */
      /* overflow: hidden; */
    }

  span {
    display: block;
    text-align: center;
    margin: 5px;
    font-weight: bold;
    background-color: black;
    /* padding: 5px; */
    padding-left: 5px;
    color: white;
  }

  .span-image {
    display: block;
    text-align: center;
    font-weight: bold;
    background-color: transparent;
    color: black;
    font-size: 30px;
  }
  .span-attn {
      background-color:  black;
      color: white;
      /* margin-right: 30%; */
      /* margin-bottom: 10px; */
      text-align: left;
    }

  .attn-text {
    margin-right: 30%;    
  }

  .attention {
      background-color: white;
      /* margin-right: 30%; */
      margin-left: 10px;
  }

  button {
    padding: 10px;
    background-color: teal;
    color: white;
    font-weight: bold;
    float: left;
    margin-left: 10px;
  }
  
  button:hover {
        padding: 12px ;
  }

  .images { 
      grid-area: images; 
      display: block;
      justify-content: center;
      flex-wrap: wrap;
      margin: 5%;
    }

    img {
      width: 100%;
    }

    img.gallery {
      border: solid black;
    }

    .image-block {
      display: block;
    }
  
  .footer { 
      grid-area: footer; 
      background-color: rgb(10, 10, 10, .2);
      width: 100%;
      /* display: block; */
      text-align: center;
      padding-top: 5px;
      padding-bottom: 10px;
      /* padding: top 100px; */
      /* padding-bottom: 100px; */
    }



  .copyright {
    /* float: left; */
  }
/* trying to get my text to align in the center */
  /* .foot {
    display: block;
    padding-top: 100px;
  } */
  
  .socials {
    /* float: right; */
    /* text-align: right; */
    }

  a:hover {
    /* box-shadow: 10px 5px 5px red;
    border: 3px red solid; */
    filter:brightness(50%);
    background-color: rgb(10, 10, 10, .2);
  }
  
/* ________________________________________________ */
/* Set the style for tablet screens */

@media(min-width:600px) {
  .container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "title title title"
      "attentiongrab attentiongrab attentiongrab"
      "attentiongrab attentiongrab attentiongrab"
      "images images images"
      "footer footer footer";
  }

  /* .attentiongrab {
    height: auto;
    width: 100%;
    background-size: contain;
  } */

  .image-block {
    display: flex;
  }

  span {
    display: inline;
    text-align: center;
  }
}




/* ________________________________________________ */
/* Set the style for desktop screens */

/* @media(min-width:769px) {
.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "title title title"
      "attentiongrab attentiongrab attentiongrab"
      "images images images"
      "footer footer footer";
  }
}
  
  .title { grid-area: title; }
  
  .attentiongrab { grid-area: attentiongrab; }
  
  .images { 
    grid-area: images; 
  }
  
  .footer { grid-area: footer; }
   */